.navbar-nav .dropdown-menu{
    --bs-dropdown-min-width: 4rem;
}
.navbar-nav .dropdown-menu .dropdown-item{
    color: var(--bs-dropdown-link-color);
    background-color: white;
}
.navbar-nav .dropdown-menu .dropdown-item:hover{
    color: var(--bs-dropdown-link-active-color);
    background-color: var(--bs-dropdown-link-active-bg);
}