.main {
    display: block;
    clear: both;
}

.main .register {
    padding-top: 100px !important;
}

.main .register .register-cover {
    border-bottom: 1px solid #e0e6f6;
    position: relative;
    width: 100%;
}

.main .register .register-cover .title1 {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #3c65f5;
}

.main .register .register-cover .title2 {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    color: #05264e;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    font-style: normal;
}

.main .register .register-cover .subtitle {
    margin-bottom: 30px !important;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #6c757d !important;
}

.main .register .register-cover #signUpDiv {
    margin-bottom: 20px !important;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.main .register .register-cover .divider {
    position: relative;
    text-align: center;
    display: block;
}

.main .register .register-cover .divider span {
    display: inline-block;
    background-color: #fff;
    padding: 0 15px;
    z-index: 2;
    position: relative;
}

.main .register .register-cover .divider::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #e0e6f6;
    top: 50%;
    left: 0;
    z-index: 1;
}

.main .register .register-cover .login-register {
    margin-top: 20px !important;
}

.main .register .register-cover .login-register .form-group,
.main .register .register-cover .login-register .footer1,
.main .register .register-cover .login-register .button {
    margin-bottom: 1rem;
    position: relative;
}

.main .register .register-cover .login-register .form-group input,
.main .register .register-cover .login-register .form-group select {
    /* height: 53px;
    line-height: 53px; */
    font-size: 14px;
    box-shadow: none;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #e0e6f6;
    padding: 11px 15px 13px;
}

.main .register .register-cover .login-register .footer11 label {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 21px;
}

.main .register .register-cover .login-register .footer1 input {
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e0e6f6;
    box-shadow: none;
    padding-left: 18px;
}

.main .register .register-cover .login-register .footer1 span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #4f5e64;
}

.main .register .register-cover .login-register .button input {
    padding: 12px 25px;
    background: #05264e;
    color: #fff;
    border-radius: 4px;
    width: 100% !important;
    font-size: 14px;
}

.main .register .register-cover .login-register .button input:hover {
    background-color: #3c65f5;
}

.main .register .register-cover .login-register .text-muted {
    font-size: 14px;
}

.main .register .register-cover .login-register .text-muted a {
    text-decoration: none;
}

.main .register .register-cover .login-register .text-muted a {
    text-decoration: none;
}

.main .register .register-cover .img-1 {
    position: absolute;
    right: 10%;
    top: 20%;
    width: unset;
}

.main .register .register-cover .img-1 img {
    max-width: 100%;
    animation: hero-thumb-animation 2s linear infinite alternate;
    transition: all .3s ease 0s;
}

.main .register .register-cover .img-2 img {
    max-width: 100%;
    transition: all .3s ease 0s;
}